<!doctype html>
<h1>current_status = {{ current_status }}</h1>

<form action="/start" method="post">
    <fieldset>
        <legend>Релиз</legend>
        <p>Бранчи: <input type="text" name="branches" value={{ branches }}></p>
        <p>Релизная версия: <input type="text" name="release_version" value={{ release_version }}></p>
        <p>Следующая снепшотная версия: <input type="text" name="snapshot_version" value={{ snapshot_version }}></p>
        <input type="submit" value="Зарелизь">
    </fieldset>
</form>

<form action="/abort" method="post">
    <fieldset>
        <legend>Сброс</legend>
        <input type="submit" value="Сбросить">
        <input type="hidden" name="branches" value={{ branches }}>
        <input type="hidden" name="release_version" value={{ release_version }}>
        <input type="hidden" name="snapshot_version" value={{ snapshot_version }}>
    </fieldset>
</form>